b {
  display:inline-block;
  text-align: center;
  color: aliceblue;
}
div {
  text-align: center;
}
p{
    color:rgb(255, 255, 255);
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    background-color: black;
}
h5{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border-style: groove;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    
    border-radius: 10px;
    
}
h2{
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: 'Times New Roman', Times, serif;;
    
}
h3{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.title{
    font-weight: bold;
    text-align: center;
}
.content{
    font-size: 25px;
    text-align: center; 
}
ol {
    text-align: center;
}
form {
    text-align: center;
}
td {
  
    border: 1px solid;
    color: chartreuse;
    text-align: right;
  }
.flex-container {
    display: flex;
    justify-content: space-between;
    color: blueviolet;
    background-color: rgba(0, 0, 0, 0.199);
    align-items: center;

  }
  .flex-container1 {
    display: flex;
    justify-content: center;
    height: 40px;
  }
  .container {
    display: flex;
    background-color: rgb(53, 45, 45);
    color: aqua;
    height: 2000px;
    justify-content: center;
    align-items: stretch
    
    
  }
  @keyframes example {
    0%   {color:aquamarine; left:0px; top:1px;}
    25%  {color:blue; left:0px; top:1px;}
    50%  {color:aqua; left:0px; top:100px;}
    75%  {color:blue; left:0px; top:100px;}
    100% {color:aquamarine; left:0px; top:0px;}
  }
p {
    width: 200px;
    height: 100px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    background-color: rgba(0, 0, 0, 0.199);
    animation-iteration-count: 9999999999999999999;
  }
.img {
    size-adjust: 500px;
    display: inline;
}
input {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 3px solid green;
}
.flex-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.column-item {
  flex: 1 0 61%;  
  margin: 2px;
  background-color: rgba(255, 245, 245, 0.11);
}
.column-item:nth-of-type(3),
.column-item:nth-of-type(4) {
  flex-basis: 40%;
}
.item {
  order: 5;
  flex-basis:1250px;
  height: 2000px;
  align-self:left;
  background-color: rgb(138, 132, 132);
}
tr {
  display: inline;
 
}
a {
  text-align: center;
  display:inline-flex;
  width: 400px;
  color: aliceblue;
  
}
ul {
  display:inline-block;
}
.parent {
  display:inline-flex;
  height: 200px;
  width: 500px;
  justify-content: center;
  align-items: center;
}
.resultContainer {
  display: flex;
}

.wrapper {
  display: flex;
  align-self: center;
}

.bookImage,
.bookTitle {
  margin-left: 20px;
}
.tag.platform.ps4 {
  background: #37424d;
}
.tag.platform {
  font-size: 1.1rem;
  line-height: 15px;
  padding: 1px 0 0 0;
  width: 38px;
  float: none;
  margin: 1px !important;
  font-family: inherit;
}
.tag {
  margin: 3px 1px;
  display: inline-block;
  line-height: 11px;
  padding: 2px 8px 4px 8px;
  border-radius: 2px;
  cursor: default;
  float: left;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'DP', Arial, Verdana, sans-serif;
  color: #ffffff;
  line-height: 14px;
}
.platforms {
  margin: -1px;
  text-align: center;
  display: inline-block;
}
body > * {
  cursor: initial;
}
body {
  font-size: 20px;
  line-height: 20px;
  text-size-adjust: 500px ;
  position: relative;
  height: 100%;
}
html {
  font-family: 'Roboto', Arial, Verdana, sans-serif;
  font-size: 10px;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*, *:before, *:after {
  box-sizing: inherit;
}
::selection {
  background-color: #057fcc;
  color: #ffffff;
}
.trophy-count .small-info {
  clear: right;
}
.trophy-count > .small-info {
  white-space: nowrap;
}
.small_info, .small-info {
  font-size: 1.2rem;
  line-height: 1.0rem;
  color: #666666;

}
.floatr {
  float: right;
}
*, *:before, *:after {
  box-sizing: inherit;
}
table {
  border-collapse: separate;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
user agent stylesheet
table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}
body > * {
  cursor: initial;
}
body {
  font-size: 1.4rem;
  line-height: 1.6rem;
  position: relative;
  height: 100%;
}
html {
  font-family: 'Roboto', Arial, Verdana, sans-serif;
  font-size: 10px;
  background: #292b2d;
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*, *:before, *:after {
  box-sizing: inherit;
}
::selection {
  background-color: #057fcc;
  color: #ffffff;
}